<% if @product.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@product.errors.count, "error") %>.
      <ul class="text-left">
       <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </div>
  </div>
<% end %>