$navbar-default-color: white;
$navbar-default-brand-color: #337ab7;
$navbar-default-bg: white; 
$navbar-default-link-color: #337ab7;
$navbar-default-toggle-border-color: #337ab7;
$navbar-default-toggle-icon-bar-bg: #337ab7;
$navbar-default-toggle-hover-bg: #D9EDF7;	
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Hind';
}

textarea {
	resize: vertical;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.btn-primary, .btn-info, .btn-success, .btn-warning {
	margin-top: 20px;
}

.custom-table-width{
	max-width: 400px;
	margin:0 auto;
}

.custom-table-width-p{
	max-width: 700px;
	margin:0 auto;
}

.custom-table-width-c{
	max-width: 420px;
	margin:0 auto;
}

.column-10 {
	width: 10%;
}


