<div class= "row">
    <div class= "col-md-12 text-center">
      <h1 class="bg-success custom-table-width">All Brands Created</h1>
    </div>
</div>
    <% if @brands.exists? %>
      <%= render 'layouts/brands' %>
    <% else %>
<div class="row">
      <div class="col-md-12 text-center">
        <p class="lead text-muted">You have no Brands added.</p>
      </div>
    <% end %>
</div>
<div class="row">
    <br>
    <div class="col-md-12 text-center">
      <%= link_to '<span class="glyphicon glyphicon-plus"></span> Add New Brand'.html_safe, new_brand_path, 
                  class: "btn btn-success" %>
    </div>
</div>
