<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bg-success custom-table-width-p">All Products</h1>
    <% if @products.exists? %>
      <%= render "layouts/products" %>
    <% else %>
      <p class="lead text-muted">You have no Products added.</p>
    <% end %>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> Add New Product'.html_safe, new_product_path, 
                  class: "btn btn-success"  %>
  </div>
</div>